body{
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
    background: url(https://pic.imgdb.cn/item/63dfcb574757feff33eccfc3.png) no-repeat;
    background-size: cover;
    background-color: rgb(35,46,38);
}
.middle{
    position: absolute;
    top: 0%;
    left: 30%;
    transform: translate(-50%, -50);
}
.middle h1{
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 900;
    color: #07e6c836;
    background-image: url(../Image/bg-1.png);
    -webkit-background-clip: text;
    animation: water 50s infinite;
}
@keyframes water {
    from{
        background-position: left 0 top 0;
    }
    to{
        background-position: left 1000px top 0;
    }
}
.footer{
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50);
    color: aliceblue;
}